= render 'partials/navbar'
= render 'partials/welcome'
-@categories.each do |category|
    .container.mx-auto
    .table
        %p= category.name
        -category.products.each do |product|
            .container.mx-auto
            .table
                %p= product.name
                %p= product.description
                %p= product.price 
                = add_to_cart(product, 1, "Add to cart") if user_signed_in? 